<div class="comment"{% if loop is defined and loop.last and offset is defined %} hx-get="/hx/list-comments?post={{ post.id }}&offset={{ offset }}" hx-trigger="intersect once" hx-swap="afterend"{% endif %}>
    <h3>{{ comment.user.username }}</h3>
    <p>
        {{ comment.body }}
    </p>
    <div class="date text-muted">{{ comment.posted|time_diff }}</div>
    {% if loop is not defined or loop.last == false %}
        <hr>
    {% endif %}
</div>
