{% extends 'setup/base.html.twig' %}

{% block body %}
    <h1 class="display-5 fw-bold">Habitat</h1>
    <div class="mt-3">
        <i class="bi bi-circle-fill px-2 text-primary"></i>
        <i class="bi bi-circle px-2 text-primary" style="--bs-text-opacity: .5;"></i>
        <i class="bi bi-circle px-2 text-primary" style="--bs-text-opacity: .5;"></i>
        <i class="bi bi-circle px-2 text-primary" style="--bs-text-opacity: .5;"></i>
        <i class="bi bi-circle px-2 text-primary" style="--bs-text-opacity: .5;"></i>
    </div>
    <div class="col-lg-6 col-md-8 mx-auto">
        <p class="lead mb-4">{{ 'setup.create_admin_account.title' | trans }}</p>
        <form class="text-start" method="post" action="{{ path('app_setup_admin') }}">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control{% if errors.username is defined %} is-invalid{% endif %}" name="username" id="username" placeholder="Admin"{% if values.username is defined %} value="{{ values.username }}"{% endif %} required>
                        <label for="username">{{ 'fields.username.title' | trans }}</label>
                        {% if errors.username is defined %}
                            <div class="invalid-feedback">
                                {% for errorMessage in errors.username %}
                                    <p>{{ errorMessage }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p>{{ 'fields.username.help_text' | trans }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control{% if errors.email is defined %} is-invalid{% endif %}" name="email" id="email" placeholder="email@example.com"{% if values.email is defined %} value="{{ values.email }}"{% endif %} required>
                        <label for="email">{{ 'fields.email_address.title' | trans}}</label>
                        {% if errors.email is defined %}
                            <div class="invalid-feedback">
                                {% for errorMessage in errors.email %}
                                    <p>{{ errorMessage }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p>{{ 'fields.email_address.help_text' | trans }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control{% if errors.password is defined %} is-invalid{% endif %}" name="password" id="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                        <label for="password">{{ 'fields.password.title' | trans }}</label>
                        {% if errors.password is defined %}
                            <div class="invalid-feedback">
                                {% for errorMessage in errors.password %}
                                    <p>{{ errorMessage }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p>{{ 'fields.password.help_text' | trans }}</p>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-lg">{{ 'buttons.continue' | trans }}</button>
            </div>
            <input type="hidden" name="token" value="{{ csrf_token('setup') }}">
        </form>
    </div>
{% endblock %}
