{% extends 'setup/base.html.twig' %}

{% block body %}
    <h1 class="display-5 fw-bold">Habitat</h1>
    <div class="mt-3">
        <i class="bi bi-circle-fill px-2 text-primary" style="--bs-text-opacity: .5;"></i>
        <i class="bi bi-circle-fill px-2 text-primary" style="--bs-text-opacity: .5;"></i>
        <i class="bi bi-circle-fill px-2 text-primary" style="--bs-text-opacity: .5;"></i>
        <i class="bi bi-circle-fill px-2 text-primary"></i>
        <i class="bi bi-circle px-2 text-primary" style="--bs-text-opacity: .5;"></i>
    </div>
    <div class="col-lg-6 col-md-8 mx-auto">
        <p class="lead mb-4">{{ 'setup.image_storage.title' | trans }}</p>
        <form class="text-start" method="post" action="{{ path('app_setup_image_storage') }}">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <ul class="list-group mb-3{% if errors.storageOption is defined %} border border-danger{% endif %}">
                <li class="list-group-item pt-3 d-flex">
                    <input class="form-check-input me-3" type="radio" name="storageOption" value="local" id="local"{% if values.storageOption is not defined or values.storageOption == 'local' %} checked{% endif %}>
                    <label class="form-check-label flex-grow-1" for="local">
                        <h5>{{ 'setup.image_storage.options.local.label' | trans }}</h5>
                        <p>{{ 'setup.image_storage.options.local.description' | trans | raw }}</p>
                    </label>
                </li>
                <li class="list-group-item pt-3 d-flex{% if errors.s3 is defined %}border border-danger{% endif %}">
                    <input class="form-check-input me-3" type="radio" name="storageOption" value="s3" id="s3"{% if values.storageOption is defined and values.storageOption == 's3' %} checked{% endif %}{% if encryption_key_exists == false %} disabled{% endif %}>
                    <div class="flex-grow-1">
                        <label class="form-check-label" for="s3">
                            <h5>{{ 'setup.image_storage.options.amazon_s3.label' | trans }}</h5>
                            <p>{{ 'setup.image_storage.options.amazon_s3.description' | trans }}</p>
                                
                            {% if encryption_key_exists == false %}
                                <div class="alert alert-warning">
                                    {{ 'setup.image_storage.warnings.no_encryption_key' | trans | raw }}
                                </div>
                            {% endif %}

                        </label>
                        <div id="s3Options" class="d-none">
                            <div class="form-floating mb-3">
                                <select class="form-select{% if errors.region is defined %} is-invalid{% endif %}" name="region" id="region" aria-label="AWS region">
                                    <option selected>{{ 'fields.amazon_s3_region.default_value' | trans }}</option>
                                    {% for region in regions %}
                                        <option value="{{ region }}"{% if values.region is defined and values.region == region %} selected{% endif %}>{{ region }}</option>
                                    {% endfor %}
                                </select>
                                <label for="region">{{ 'fields.amazon_s3_region.title' | trans }}</label>

                                {% if errors.region is defined %}
                                     <div class="invalid-feedback">
                                        {% for errorMessage in errors.region %}
                                            <p>{{ errorMessage }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control{% if errors.bucketName is defined %} is-invalid{% endif %}" id="bucketName" name="bucketName" placeholder="my-bucket"{% if values.bucketName is defined %} value="{{ values.bucketName }}{% endif %}">
                                <label for="bucketName">{{ 'fields.amazon_s3_bucket_name.title' | trans }}</label>
                                {% if errors.bucketName is defined %}
                                     <div class="invalid-feedback">
                                        {% for errorMessage in errors.bucketName %}
                                            <p>{{ errorMessage }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control{% if errors.accessKey is defined %} is-invalid{% endif %}" id="accessKey" name="accessKey" placeholder="access-key"{% if values.accessKey is defined %} value="{{ values.accessKey }}{% endif %}">
                                <label for="accessKey">{{ 'fields.amazon_s3_access_key.title' | trans }}</label>
                                {% if errors.accessKey is defined %}
                                     <div class="invalid-feedback">
                                        {% for errorMessage in errors.accessKey %}
                                            <p>{{ errorMessage }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control{% if errors.secretKey is defined %} is-invalid{% endif %}" id="secretKey" name="secretKey" placeholder="secret-key"{% if values.secretKey is defined %} value="{{ values.secretKey }}{% endif %}">
                                <label for="secretKey">{{ 'fields.amazon_s3_secret_key.title' | trans }}</label>
                                {% if errors.secretKey is defined %}
                                     <div class="invalid-feedback">
                                        {% for errorMessage in errors.secretKey %}
                                            <p>{{ errorMessage }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if errors.s3 is defined %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="invalid-feedback d-block">
                                        {{ errors.s3.summary }}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <code>{{ errors.s3.detail }}</code>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </li>
            </ul>
            {% if errors.storageOption is defined %}
                 <div class="invalid-feedback d-block">
                    {% for errorMessage in errors.storageOption %}
                        <p>{{ errorMessage }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="text-center">
                <button class="btn btn-primary btn-lg">{{ 'buttons.continue' | trans }}</button>
            </div>
            <input type="hidden" name="token" value="{{ csrf_token('setup') }}">
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('image_storage_setup') }}
{% endblock %}
