{% extends 'setup/base.html.twig' %}

{% block body %}
    <h1 class="display-5 fw-bold">Habitat</h1>
    <div class="mt-3">
        <i class="bi bi-circle-fill px-2 text-primary" style="--bs-text-opacity: .5;"></i>
        <i class="bi bi-circle-fill px-2 text-primary" style="--bs-text-opacity: .5;"></i>
        <i class="bi bi-circle-fill px-2 text-primary" style="--bs-text-opacity: .5;"></i>
        <i class="bi bi-circle-fill px-2 text-primary" style="--bs-text-opacity: .5;"></i>
        <i class="bi bi-circle-fill px-2 text-primary"></i>
    </div>
    <div class="col-lg-6 col-md-8 mx-auto">
        <p class="lead mb-4">5. Configure your mail settings</p>
        <form class="text-start" method="post" action="{{ path('app_setup_mail') }}">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% if email_sent_to is defined %}
                {% if email_sent_exception is null %}
                    <div class="alert alert-info" role="alert">
                        A test email has been sent to {{ email_sent_to }} and no issues have been reported. If you have
                        not received it, check the settings here and try again.
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        An issue occurred when attempting to send a test email: {{ email_sent_exception }}
                    </div>
                {% endif %}
            {% endif %}
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control{% if errors.smtpUsername is defined %} is-invalid{% endif %}" name="smtpUsername" id="smtpUsername" placeholder="admin"{% if values.smtpUsername is defined %} value="{{ values.smtpUsername }}"{% endif %} required>
                        <label for="smtpUsername">SMTP username</label>
                        {% if errors.smtpUsername is defined %}
                            <div class="invalid-feedback">
                                {% for errorMessage in errors.smtpUsername %}
                                    <p>{{ errorMessage }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p>
                        The username for your SMTP mail service. This is usually an email address.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control{% if errors.smtpPassword is defined %} is-invalid{% endif %}" name="smtpPassword" id="smtpPassword" placeholder="password"{% if values.smtpPassword is defined %} value="{{ values.smtpPassword }}"{% endif %} required>
                        <label for="smtpPassword">SMTP password</label>
                        {% if errors.smtpPassword is defined %}
                            <div class="invalid-feedback">
                                {% for errorMessage in errors.smtpPassword %}
                                    <p>{{ errorMessage }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p>
                        The password for your SMTP mail service. This can sometimes be an API key.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control{% if errors.smtpServer is defined %} is-invalid{% endif %}" name="smtpServer" id="smtpServer" placeholder="smtp.example.com"{% if values.smtpServer is defined %} value="{{ values.smtpServer }}"{% endif %} required>
                        <label for="smtpServer">SMTP server</label>
                        {% if errors.smtpServer is defined %}
                            <div class="invalid-feedback">
                                {% for errorMessage in errors.smtpServer %}
                                    <p>{{ errorMessage }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p>
                        The server URL of your SMTP mail service.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control{% if errors.smtpPort is defined %} is-invalid{% endif %}" name="smtpPort" id="smtpPort" placeholder="587"{% if values.smtpPort is defined %} value="{{ values.smtpPort }}"{% endif %} required>
                        <label for="smtpPort">SMTP port</label>
                        {% if errors.smtpPort is defined %}
                            <div class="invalid-feedback">
                                {% for errorMessage in errors.smtpPort %}
                                    <p>{{ errorMessage }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p>
                        The port for sending mail to your SMTP mail service.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control{% if errors.smtpFromEmailAddress is defined %} is-invalid{% endif %}" name="smtpFromEmailAddress" id="smtpFromEmailAddress" placeholder="habitat@example.com"{% if values.smtpFromEmailAddress is defined %} value="{{ values.smtpFromEmailAddress }}"{% endif %} required>
                        <label for="smtpFromEmailAddress">Sender email address</label>
                        {% if errors.smtpFromEmailAddress is defined %}
                            <div class="invalid-feedback">
                                {% for errorMessage in errors.smtpFromEmailAddress %}
                                    <p>{{ errorMessage }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p>
                        Emails sent to users of this Habitat instance will be sent from the email address provided.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control{% if errors.smtpToEmailAddress is defined %} is-invalid{% endif %}" name="smtpToEmailAddress" id="smtpToEmailAddress" placeholder="recipient@example.com"{% if values.smtpToEmailAddress is defined %} value="{{ values.smtpToEmailAddress }}"{% endif %}>
                        <label for="smtpToEmailAddress">Test recipient email address</label>
                        {% if errors.smtpToEmailAddress is defined %}
                            <div class="invalid-feedback">
                                {% for errorMessage in errors.smtpToEmailAddress %}
                                    <p>{{ errorMessage }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p>
                        A test email will be sent to this email address if provided. Leave this empty to skip the test and continue.
                    </p>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-lg">Continue</button>
            </div>
            <input type="hidden" name="token" value="{{ csrf_token('setup') }}">
        </form>
    </div>
{% endblock %}
