{% extends 'admin/base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_admin_index')}}">Admin dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_admin_categories')}}">Categories</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {% if action == 'add' %}Add a Category{% else %}{{ category.name }}{% endif %}
            </li>
        </ol>
    </nav>

    <h2 class="mb-3">{% if action == 'add' %}Add a Category{% else %}{{ category.name }}{% endif %}</h2>

    {% if action == 'update' %}
        <div class="dropdown mb-3">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="actions-btn" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu" id="actions-menu" aria-labelledby="actions-btn">
                <li>
                    {% if category.posts|length > 0 %}
                        <a href="{{ path('app_moderation_posts', { category: category.id }) }}" class="dropdown-item">View posts</a>
                    {% else %}
                        <form class="action-item-form" method="post" action="{{ path('app_admin_categories_remove') }}">
                            <input name="items" type="hidden" value="{{ category.id }}"/>
                            <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
                            <button type="submit" class="dropdown-item checkbox-action" href="#">Remove</button>
                        </form>
                    {% endif %}
                </li>
            </ul>
        </div>
    {% endif %}

    <form method="post">
        <div class="row mb-3">
            <label for="name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control{% if errors.name is defined %} is-invalid{% endif %}" name="name" id="name" value="{% if category.name is defined %}{{ category.name }}{% endif %}" required>
                {% if errors.name is defined %}
                    <div class="invalid-feedback">
                        {% for errorMessage in errors.name %}
                            <p>{{ errorMessage }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="description" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
                <textarea class="form-control{% if errors.description is defined %} is-invalid{% endif %}" name="description">{% if category.description is defined %}{{ category.description }}{% endif %}</textarea>
                {% if errors.description is defined %}
                    <div class="invalid-feedback">
                        {% for errorMessage in errors.description %}
                            <p>{{ errorMessage }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="Location" class="col-sm-3 col-form-label">Location</label>
            <div class="col-sm-9">
                <select class="form-select{% if errors.location is defined %} is-invalid{% endif %}" name="location" id="location" aria-label="Location">
                    {% for option in location_options %}
                        <option{% if (category.location is defined and category.location.value == option.value) %} selected{% endif %} value="{{ option.value }}">{{ option.label }}</option>
                    {% endfor %}
                </select>
                {% if errors.location is defined %}
                    <div class="invalid-feedback">
                        {% for errorMessage in errors.location %}
                            <p>{{ errorMessage }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="allow-posting" class="col-sm-3 col-form-label">Allow posting</label>
            <div class="col-sm-9">
                <div class="form-check form-switch form-switch-lg">
                    <input class="form-check-input" type="checkbox" name="allow-posting" role="switch" id="allow-posting"{% if category.allowPosting is defined and category.allowPosting == 'on' %} checked{% endif %}>
                </div>
            </div>
        </div>
        <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}
