{% extends 'admin/base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_admin_index')}}">Admin dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_admin_categories')}}">Categories</a></li>
            <li class="breadcrumb-item active" aria-current="page">Remove</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header p-5 text-center">
            <p class="lead">Are you sure you would like to remove {% if categories|length > 1 %}these categories{% else %}this category{% endif %}?</p>
            <form method="post">
                <input name="items" type="hidden" value="{{ category_ids }}">
                <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
                <input type="hidden" name="delete" value="1">
                <button type="submit" class="btn btn-danger">Remove</button>
                <a href="{{ path('app_admin_categories') }}" class="btn btn-outline-primary">Cancel</a>
            </form>
        </div>
        <div class="card-body">
            {% for category in categories %}
                <h3>{{ category.name }}</h3>
                <p>{{ category.description }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
