{% extends 'base.html.twig' %}
{% set page_title = 'Create an account' %}

{% block body %}
    <form method="post">
        <h1 class="mb-3">Create an account</h1>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control{% if errors.username is defined %} is-invalid{% endif %}" name="username" id="username" data-test="username" placeholder="Username"{% if values.username is defined %} value="{{ values.username }}"{% endif %} required>
                    <label for="username">Username</label>
                    {% if errors.username is defined %}
                        <div class="invalid-feedback" data-test="username-errors">
                            {% for errorMessage in errors.username %}
                                <p>{{ errorMessage }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <p>
                    Your username will be publicly visible. You are recommended to choose a nickname.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control{% if errors.email is defined %} is-invalid{% endif %}" name="email" id="email" data-test="email" placeholder="email@example.com"{% if values.email is defined %} value="{{ values.email }}"{% endif %} required>
                    <label for="email">Email address</label>
                    {% if errors.email is defined %}
                        <div class="invalid-feedback" data-test="email-errors">
                            {% for errorMessage in errors.email %}
                                <p>{{ errorMessage }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <p>
                    Your email address will be visible to administrators only, and can be used to recover your password.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control{% if errors.password is defined %} is-invalid{% endif %}" name="password" id="password" data-test="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <label for="password">Password</label>
                    {% if errors.password is defined %}
                        <div class="invalid-feedback" data-test="password-errors">
                            {% for errorMessage in errors.password %}
                                <p>{{ errorMessage }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <p>
                    Your password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter
                </p>
            </div>
        </div>

        {% if question is defined and question is not null %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Registration challenge</h5>
                    <p>To successfully create an account, you must correctly answer the following question:</p>
                    <p><strong>{{ question.question }}</strong></p>
                    <div class="form-floating">
                        <input type="text" class="form-control{% if errors.question is defined %} is-invalid{% endif %}" name="answer" id="answer" placeholder="Answer" required>
                        <label for="answer">Answer</label>
                        {% if errors.question is defined %}
                            <div class="invalid-feedback">
                                {% for errorMessage in errors.question %}
                                    <p>{{ errorMessage }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <input type="hidden" name="question" value="{{ question.id }}">
                </div>
            </div>
        {% endif %}

        <button class="btn btn-primary btn-lg" data-test="submit">Sign up</button>
        <input type="hidden" name="token" value="{{ csrf_token('signup') }}">
    </form>
{% endblock %}
