{% extends 'admin/base.html.twig' %}
{% set page_title = 'admin.user_registration.title' | trans %}

{% block body %}
    <form method="post">
        <div class="row mb-3">
            <label for="enable-registration" class="col-sm-3 col-form-label">{{ 'admin.user_registration.allow_registration' | trans }}</label>
            <div class="col-sm-9">
                <div class="form-check form-switch form-switch-lg">
                    <input class="form-check-input" type="checkbox" name="enable-registration" role="switch" id="enable_registration"{% if values.registration is defined and values.registration == 'on' %} checked{% endif %} data-test="enable-registration-checkbox">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">{{ 'admin.user_registration.registration_challenge.title' | trans }}</label>
            <input type="hidden" id="registration-challenge-questions" name="registration-challenge-questions" value="{% if values.questions is defined %}{{ values.questions }}{% else %}[]{% endif %}">
            <div class="form-text">
                {{ 'admin.user_registration.registration_challenge.help_text' | trans }}
            </div>
            <div class="accordion my-3{% if errors.questions is defined %} is-invalid{% endif %}" id="questions-accordion"></div>
            {% if errors.questions is defined %}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in errors.questions %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <button id="registration-challenge-add-question-btn" type="button" class="btn btn-outline-primary">{{ 'buttons.add_a_question' | trans }}</button>
        </div>
        <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
        <button type="submit" class="btn btn-primary" data-test="submit">{{ 'buttons.save' | trans }}</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_registration_settings') }}
{% endblock %}
