<form id="report-post-form" class="mb-3" hx-post="{{ path('app_hx_report_post', { postId: post_id }) }}" hx-target="#report-post-{{ post_id }}" hx-swap="innerHTML">
    <div class="form-floating mb-3">
        <textarea class="form-control form-control-lg{% if errors.reason is defined %} is-invalid{% endif %}" name="reason" style="height: 100px" placeholder="{{ 'fields.report_post_reason.title' | trans }}">{% if values.reason is defined %}{{ values.reason }}{% endif %}</textarea>
        <label for="reason">{{ 'fields.report_post_reason.title' | trans }}</label>
        {% if errors.reason is defined %}
            <div class="invalid-feedback">
                {% for errorMessage in errors.reason %}
                    <p>{{ errorMessage }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <input type="hidden" name="token" value="{{ csrf_token('report') }}">
    <input type="hidden" name="postId" value="{{ post_id }}">
    <button type="submit" class="btn btn-danger">{{ 'buttons.report_this_post' | trans }}</button>
</form>
