<div id="hx-change-password">
    <div class="mb-2">
        {% if success is defined %}
            <div class="alert alert-success">
                {{ 'fields.password.updated' | trans }}
            </div>
        {% endif %}
        <label for="currentPassword" class="form-label">{{ 'fields.current_password.title' | trans }}</label>
        <input type="password" class="form-control{% if errors.current_password is defined %} is-invalid{% endif %}" name="current_password" id="currentPassword" autocomplete="current-password" data-test="current-password" required>
        {% if errors.current_password is defined %}
            <div class="invalid-feedback">
                {% for errorMessage in errors.current_password %}
                    <p>{{ errorMessage }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="mb-2">
        <label for="newPassword" class="form-label">{{ 'fields.new_password.title' | trans }}</label>
        <input type="password" class="form-control{% if errors.new_password is defined %} is-invalid{% endif %}" name="new_password" id="newPassword" autocomplete="new-password" aria-describedby="passwordHelpBlock" data-test="new-password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        {% if errors.new_password is defined %}
            <div class="invalid-feedback">
                {% for errorMessage in errors.new_password %}
                    <p>{{ errorMessage }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div id="passwordHelpBlock" class="form-text">
            {{ 'fields.password.help_text' | trans }}
        </div>
    </div>
    <div class="mb-2">
        <label for="confirmPassword" class="form-label">{{ 'fields.confirm_password.title' | trans }}</label>
        <input type="password" class="form-control{% if errors.confirm_password is defined %} is-invalid{% endif %}" name="confirm_password" id="confirmPassword" autocomplete="new-password" data-test="confirm-password" required>
        {% if errors.confirm_password is defined %}
            <div class="invalid-feedback">
                {% for errorMessage in errors.confirm_password %}
                    <p>{{ errorMessage }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <button class="btn btn-outline-secondary" type="submit" data-test="change-password-submit">{{ 'buttons.change' | trans }}</button>
</div>
