<div id="hx-change-password">
    <div class="mb-2">
        <label for="currentPassword" class="form-label">{{ 'fields.password.current_password.title' | trans }}</label>
        <input type="password" class="form-control{% if errors is defined %} is-invalid{% endif %}" name="current_password" id="currentPassword" autocomplete="current-password" data-test="current-password">
    </div>
    <div class="mb-2">
        <label for="newPassword" class="form-label">{{ 'fields.password.new_password.title' | trans }}</label>
        <input type="password" class="form-control{% if success is defined %} is-valid{% endif %}" name="new_password" id="newPassword" autocomplete="new-password" data-test="new-password">
        {% if success is defined %}
            <div class="valid-feedback" data-test="change-password-success">{{ 'fields.password.updated' | trans }}</div>
        {% endif %}
    </div>
    <div class="mb-2">
        <label for="confirmPassword" class="form-label">{{ 'fields.password.confirm_password.title' | trans }}</label>
        <input type="password" class="form-control" name="confirm_password" id="confirmPassword" autocomplete="new-password" data-test="confirm-password">
        {% if errors is defined %}
            {% for error in errors %}
                <div class="invalid-feedback d-block" data-test="change-password-errors">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <button class="btn btn-outline-secondary" type="submit" data-test="change-password-submit">{{ 'buttons.change' | trans }}</button>
</div>
