{% extends 'admin/base.html.twig' %}

{% block body %}
    <form method="post">
        <div class="mb-3">
            <label for="habitatName" class="form-label">Habitat name</label>
            <input type="text" class="form-control{% if errors.habitatName is defined %} is-invalid{% endif %}" name="habitatName" id="habitatName" value="{{ values.habitatName }}">
            {% if errors.habitatName is defined %}
                <div class="invalid-feedback">
                    {% for errorMessage in errors.habitatName %}
                        <p>{{ errorMessage }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="domain" class="form-label">Domain</label>
            <div class="input-group{% if errors.domain is defined %} is-invalid{% endif %}">
                <span class="input-group-text">https://</span>
                <input type="text" class="form-control{% if errors.domain is defined %} is-invalid{% endif %}" name="domain" id="domain" value="{{ values.domain }}">
            </div>
            {% if errors.domain is defined %}
                <div class="invalid-feedback">
                    {% for errorMessage in errors.domain %}
                        <p>{{ errorMessage }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <div class="card{% if errors.location is defined %} border-danger{% endif %}">
                <div class="card-body ratio ratio-16x9">
                    <div class="rounded-top" id="map"></div>
                </div>
                <div class="card-body text-white bg-danger text-center fw-bold d-none" id="size-warning">
                    Habitat has not been designed to work at this size. Things may not work as expected.
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="d-flex gx-2">
                            <button type="button" class="btn btn-outline-secondary me-2 get-location" title="Show your current location"><i class="bi bi-crosshair2"></i></button>
                            <div class="input-group">
                                <span class="input-group-text">Size</span>
                                <input type="number" step="0.1" name="locationRadius" id="locationRadius" class="form-control" autocomplete="off" min="0">
                                <button class="btn{% if values.locationMeasurement == "km" %} active{% endif %} btn-outline-secondary" type="button" id="measurement-kms">kilometers</button>
                                <button class="btn{% if values.locationMeasurement == 'miles' %} active{% endif %} btn-outline-secondary" type="button" id="measurement-miles">miles</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if errors.location is defined %}
                <div class="text-danger">
                    {% for errorMessage in errors.location %}
                        <p>{{ errorMessage }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-text">Users will be able to create posts in any location inside the circle</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Feature management</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="registration" role="switch" id="registration"{% if values.registration == 'on' %} checked{% endif %}>
                <label class="form-check-label" for="registration">User registration</label>
            </div>
        </div>
        <input type="hidden" name="locationLatLng" id="locationLatLng" value="{{ values.locationLatLng }}">
        <input type="hidden" name="locationRadiusMeters" id="locationRadiusMeters" value="{{ values.locationRadiusMeters }}">
        <input type="hidden" name="locationZoom" id="locationZoom" value="{{ values.locationZoom }}">
        <input type="hidden" name="locationMeasurement" id="locationMeasurement" value="{{ values.locationMeasurement }}">
        <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_map') }}
{% endblock %}
