{% extends 'admin/base.html.twig' %}
{% set page_title = 'admin.overview.title' | trans %}

{% block body %}
    <div class="row row-cols-1 row-cols-md-2">
        {% if user_count > 0 %}
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">
                            <i class="bi bi-person"></i> {{ user_count }} {{ 'admin.moderation.users.menu_title' | trans }}
                        </h5>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for user in recent_users %}
                            <a href="{{ path('app_moderation_user', { id: user.id }) }}" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">{{ user.username }}</h6>
                                    <small class="text-body-secondary">{{ user.created|time_diff }}</small>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ path('app_moderation_users') }}" class="text-decoration-none">{{ 'admin.overview.view_more' | trans }}</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if post_count > 0 %}
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">
                            <i class="bi bi-file-richtext"></i> {{ post_count }} {{ 'admin.moderation.posts.menu_title' | trans }}
                        </h5>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for post in recent_posts %}
                            <a href="{{ path('app_view_post', { id: post.id }) }}" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">{{ post.title }}</h6>
                                    <small class="text-body-secondary">{{ post.posted|time_diff }}</small>
                                </div>
                                <p class="card-text">{{ 'post.posted_by' | trans }} {{ post.user.username }}</p>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ path('app_moderation_posts') }}" class="text-decoration-none">{{ 'admin.overview.view_more' | trans }}</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if comment_count > 0 %}
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">
                            <i class="bi bi-chat"></i> {{ comment_count }} {{ 'admin.moderation.comments.menu_title' | trans }}
                        </h5>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for comment in recent_comments %}
                            <a href="{{ path('app_view_post', { id: comment.post.id }) }}#comments" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">{{ comment.user.username }}</h6>
                                    <small class="text-body-secondary">{{ comment.posted|time_diff }}</small>
                                </div>
                                <p class="card-text">{{ comment.body }}</p>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ path('app_moderation_comments') }}" class="text-decoration-none">{{ 'admin.overview.view_more' | trans }}</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if report_count > 0 %}
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">
                            <i class="bi bi-megaphone"></i> {{ report_count }} {{ 'admin.moderation.reports.menu_title' | trans }}
                        </h5>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for report in recent_reports %}
                            <a href="{{ path('app_moderation_reports') }}" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">{{ report.reportedBy.username }}</h6>
                                    <small class="text-body-secondary">{{ report.reportedDate|time_diff }}</small>
                                </div>
                                <p class="card-text">
                                    {% if report.type == 'post' %}
                                        {{ 'report_post.reported' | trans }}
                                    {% else %}
                                        {{ 'report_comment.reported' | trans }}
                                    {% endif %}
                                </p>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ path('app_moderation_reports') }}" class="text-decoration-none">{{ 'admin.overview.view_more' | trans }}</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
