{% if app.user %}
    <div class="dropdown">
        <button role="button" type="button" class="btn text-secondary fs-4" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
        <ul class="dropdown-menu">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li>
                    <a class="dropdown-item" href="{{ path('app_edit_post', { id: post.id })}}">{{ 'menus.contextual.edit.title' | trans }}</a>
                </li>
                <li>
                    <form class="action-item-form" method="post" action="{{ path('app_moderation_posts_change_category') }}">
                        <input name="items" type="hidden" value="{{ post.id }}"/>
                        <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
                        <button type="submit" class="dropdown-item checkbox-action">{{ 'admin.actions.change_category.title' | trans }}</button>
                    </form>
                </li>
            {% endif %}
            <li>
                <button class="dropdown-item checkbox-action share-btn" data-title="{{ post.title|e('html_attr') }}" data-url="{{ absolute_url(path('app_view_post', { id: post.id } )) }}" data-text="{{ post.body|striptags|slice(0, 200)|e('html_attr') }}">{{ 'menus.contextual.share.title' | trans }}</button>
            </li>
            {% if app.user.id != post.user.id %}
                <li>
                    <button class="dropdown-item checkbox-action" hx-get="{{ path('app_hx_report_post', { postId: post.id }) }}" hx-target="#report-post-{{ post.id }}" hx-swap="innerHTML">{{ 'menus.contextual.report.title' | trans }}</button>
                </li>
            {% endif %}
            {% if app.user.id == post.user.id or is_granted('ROLE_SUPER_ADMIN') %}
                <li><hr class="dropdown-divider"></li>
                <li>
                    {% if app.user.id == post.user.id %}
                        <form class="action-item-form" method="post" hx-swap="outerHTML" hx-target="closest .post" hx-post="{{ path('app_hx_delete_post' )}}">
                            <input name="postId" type="hidden" value="{{ post.id }}"/>
                            <input type="hidden" name="token" value="{{ csrf_token('post') }}">
                            <button type="submit" class="dropdown-item checkbox-action">{{ 'buttons.delete' | trans }}</button>
                        </form>
                    {% elseif is_granted('ROLE_SUPER_ADMIN') %}
                        <form class="action-item-form" method="post" action="{{ path('app_moderation_posts_delete') }}">
                            <input name="items" type="hidden" value="{{ post.id }}"/>
                            <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
                            <button type="submit" class="dropdown-item checkbox-action">{{ 'buttons.delete' | trans }}</button>
                        </form>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
