{% extends 'admin/moderation/base.html.twig' %}
{% set page_title = 'Comment moderation' %}

{% block actions %}
    <div class="dropdown mt-3">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="actions-btn" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
        </button>
        <ul class="dropdown-menu" id="actions-menu" aria-labelledby="actions-btn">
            <li>
                <form class="action-item-form" method="post" action="{{ path('app_moderation_comments_delete') }}">
                    <input name="items" type="hidden" value=""/>
                    <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
                    <button type="submit" class="dropdown-item checkbox-action disabled">Delete</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}

{% block rows %}
    <td class="align-middle">{{ item.body }}</td>
    <td class="align-middle{% if sort == 'posted' %} bg-light border{% endif %}">{{ item.posted|date }}</td>
    <td class="align-middle">
        <a href="{{ path('app_moderation_user', { id: item.user.id }) }}">{{ item.user.username }}</a>
    </td>
    <td class="align-middle">
        <a href="{{ path('app_view_post', { id: item.post.id }) }}">{{ item.post.title }}</a>
    </td>
{% endblock %}
