{% extends 'admin/base.html.twig' %}
{% set page_title = 'Delete comments' %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_admin_index')}}">Admin dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_moderation_comments')}}">Moderation</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_moderation_comments')}}">Comments</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header p-5 text-center">
            <p class="lead">Are you sure you would like to permanently delete {% if comments|length > 1 %}these comments{% else %}this comment{% endif %}?</p>
            <form method="post">
                <input name="items" type="hidden" value="{{ comment_ids }}">
                <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
                <input type="hidden" name="delete" value="1">
                <div class="row mb-3 text-start">
                    <label for="reason" class="form-label col-sm-3 col-lg-2">Reason</label>
                    <div class="col">
                        <input type="text" class="form-control{% if errors.reason is defined %} is-invalid{% endif %}" name="reason" value="{% if values.reason is defined %}{{ values.reason }}{% endif %}" required>
                        {% if errors.reason is defined %}
                            <div class="invalid-feedback">
                                {% for errorMessage in errors.reason %}
                                    <p>{{ errorMessage }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{{ path('app_moderation_comments') }}" class="btn btn-outline-primary">Cancel</a>
            </form>
        </div>
        <div class="card-body">
            {% for comment in comments %}
                {% include 'partials/post/comment/comment.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
