{% extends 'admin/base.html.twig' %}

{% set subject = ((reports|length == 1) ? 'admin.moderation.reports.singular' : 'admin.moderation.reports.plural') | trans %}
{% set page_title = ('admin.actions.dismiss.title' | trans) ~ ' ' ~ subject %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_admin_index')}}">{{ 'menus.utility.admin_dashboard.title' | trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_moderation_reports')}}">{{ 'admin.moderation.title' | trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_moderation_reports')}}">{{ 'admin.moderation.reports.menu_title' | trans }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'admin.actions.dismiss.title' | trans }}</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header p-5 text-center">
            <p class="lead">
                {{ 'admin.actions.confirmation_message' | trans({
                    '%action%': 'admin.actions.dismiss.title' | trans | lower,
                    '%subject%': subject,
                }) }}
            </p>
            <p>
                {{ 'admin.actions.dismiss.messages.reports_deleted' | trans({ '%subject%': subject, }) }}
            </p>
            <form method="post" action="{{ path('app_moderation_reports_dismiss') }}">
                <input name="items" type="hidden" value="{{ report_ids }}">
                <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
                <input type="hidden" name="delete" value="1">
                <button type="submit" class="btn btn-danger">{{ 'admin.actions.dismiss.title' | trans }}</button>
                <a href="{{ path('app_moderation_reports') }}" class="btn btn-outline-primary">{{ 'buttons.cancel' | trans }}</a>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>{{ 'fields.type.title' | trans }}</th>
                    <th>{{ 'fields.reported_by.title' | trans }}</th>
                    <th>{{ 'fields.reported_date.title' | trans }}</th>
                    <th>{{ 'admin.actions.reason' | trans }}</th>
                    <th>{{ 'fields.context.title' | trans }}</th>
                </thead>
                <tbody>
                    {% for report in reports %}
                        <tr>
                            <td>{{ report.type | capitalize }}</td>
                            <td><a href="{{ path('app_moderation_user', { id: report.reportedBy.id }) }}">{{ report.reportedBy.username }}</a></td>
                            <td>{{ report.reportedDate|date }}</td>
                            <td>{{ report.reason }}</td>
                            <td>
                                {% if report.type == 'post' %}
                                    <a href="{{ path('app_view_post', { id: report.post.id }) }}">{{ report.post.title }}</a>
                                    {{ 'post.posted_by' | trans }}
                                    <a href="{{ path('app_moderation_user', { id: report.post.user.id }) }}">{{ report.post.user.username }}</a>
                                {% else %}
                                    "<em>{{ report.comment.body | slice(0, 100) }}{% if report.comment.body | length > 100 %}...{% endif %}</em>"
                                    commented by 
                                    <a href="{{ path('app_moderation_user', { id: report.comment.user.id }) }}">{{ report.comment.user.username }}</a>
                                    on
                                    <a href="{{ path('app_view_post', { id: report.comment.post.id }) }}">{{ report.comment.post.title }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
