{% extends 'admin/moderation/base.html.twig' %}
{% set page_title = 'admin.moderation.users.title' | trans %}

{% block actions %}
    <div class="dropdown mt-3">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="actions-btn" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'buttons.actions' | trans }}
        </button>
        <ul class="dropdown-menu" id="actions-menu" aria-labelledby="actions-btn">
            <li>
                <form class="action-item-form" method="post" action="{{ path('app_moderation_users_freeze') }}">
                    <input name="items" type="hidden" value=""/>
                    <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
                    <button type="submit" class="dropdown-item checkbox-action disabled">{{ 'admin.actions.freeze.title' | trans }}</button>
                </form>
            </li>
            <li>
                <form class="action-item-form" method="post" action="{{ path('app_moderation_users_ban') }}">
                    <input name="items" type="hidden" value=""/>
                    <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
                    <button type="submit" class="dropdown-item checkbox-action disabled">{{ 'admin.actions.ban.title' | trans }}</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}

{% block rows %}
    <td class="align-middle{% if sort == 'username' %} bg-light border{% endif %}">
        <a href="{{ path('app_moderation_user', { id: item.id }) }}">
            {{ item.username }}
        </a>
    </td>
    <td class="align-middle{% if sort == 'email_address' %} bg-light border{% endif %}">{{ item.emailaddress }}</td>
    <td class="align-middle{% if sort == 'verified' %} bg-light border{% endif %}">
        {% if item.emailVerified %}
            <i class="bi bi-check-lg fs-4 text-success"></i>
        {% else %}
            <i class="bi bi-x-lg fs-4 text-danger"></i>
        {% endif %}
    </td>
    <td class="align-middle{% if sort == 'created' %} bg-light border{% endif %}">{{ item.created|date }}</td>
    <td class="align-middle{% if sort == 'posts' %} bg-light border{% endif %}">
        <div class="d-grid">
            <a class="btn btn-link{% if item.posts|length == 0 %} disabled{% endif %}" href="{{ path('app_moderation_posts', { user: item.id }) }}">{{ item.posts|length }}</a>
        </div>
    </td>
    <td class="align-middle{% if sort == 'comments' %} bg-light border{% endif %}">
        <div class="d-grid">
            <a class="btn btn-link{% if item.comments|length == 0 %} disabled{% endif %}" href="{{ path('app_moderation_comments', { user: item.id }) }}">{{ item.comments|length }}</a>
        </div>
    </td>
{% endblock %}
