{% extends 'admin/base.html.twig' %}
{% set page_title = 'User details' %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_admin_index')}}">Admin dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_moderation_users')}}">Moderation</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_moderation_users')}}">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
        </ol>
    </nav>

    <h2>User details</h2>

    <div class="dropdown mb-3">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="actions-btn" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
        </button>
        <ul class="dropdown-menu" id="actions-menu" aria-labelledby="actions-btn">
            <li>
                {% if user.posts|length > 0 %}
                    <a href="{{ path('app_moderation_posts', { user: user.id }) }}" class="dropdown-item">View posts</a>
                {% endif %}
            </li>
            <li>
                {% if user.comments|length > 0 %}
                    <a href="{{ path('app_moderation_comments', { user: user.id }) }}" class="dropdown-item">View comments</a>
                {% endif %}
            </li>
            <li>
                <form class="action-item-form" method="post" action="{% if user.frozen %}{{ path('app_moderation_users_unfreeze') }}{% else %}{{ path('app_moderation_users_freeze') }}{% endif %}">
                    <input name="items" type="hidden" value="{{ user.id }}"/>
                    <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
                    <button type="submit" class="dropdown-item checkbox-action">{% if user.frozen %}{{ 'admin.actions.unfreeze' | trans }}{% else %}{{ 'admin.actions.freeze' | trans }}{% endif %}</button>
                </form>
            </li>
            <li>
                <form class="action-item-form" method="post" action="{{ path('app_moderation_users_ban') }}">
                    <input name="items" type="hidden" value="{{ user.id }}"/>
                    <input type="hidden" name="token" value="{{ csrf_token('admin') }}">
                    <button type="submit" class="dropdown-item checkbox-action">{{ 'admin.actions.ban' | trans }}</button>
                </form>
            </li>
        </ul>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email address</th>
                <td>{{ user.emailaddress }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ user.created|date }}</td>
            </tr>
            <tr>
                <th>Freeze status</th>
                <td>
                    {% if user.frozen %}
                        Currently frozen. This user will be unfrozen {{ user.frozenLog.unfreezeDate|time_diff }}.
                    {% else %}
                        Not frozen
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Posts</th>
                <td>
                    <a class="btn btn-link{% if user.posts|length == 0 %} disabled{% endif %}" href="{{ path('app_moderation_posts', { user: user.id }) }}">
                        {{ user.posts|length }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>
                    <a class="btn btn-link{% if user.comments|length == 0 %} disabled{% endif %}" href="{{ path('app_moderation_comments', { user: user.id }) }}">
                        {{ user.comments|length }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
