{% extends 'base.html.twig' %}
{% set page_title = 'about.title' | trans %}

{% block outer_body %}
    <div class="col-12 text-center">
        <div class="pt-5">
            <img src="/build/images/habitat_icon.svg" width="100" height="100" alt="Habitat">
        </div>
        <h1 class="display-2 pt-3 pb-5">{{ 'about.title' | trans }}</h1>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <!-- Illustration by manypixels.co -->
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="Layer_1" x="0" y="0" data-imageid="navigation-82" version="1.1" viewBox="0 0 500 500">
                    <style>
                        .st2_navigation-82{opacity:.46;fill:#8ec62c;enable-background:new}.st3_navigation-82{fill:#f15a24}.st4_navigation-82{fill:#333}.st5_navigation-82{fill:#ffc4b0}.st6_navigation-82{fill:#5780f6}.st8_navigation-82{fill:#68e1fd}.st9_navigation-82{opacity:.1;fill:#333;enable-background:new}
                    </style>
                    <g id="Base_navigation-82">
                        <path d="m114 356 1-1 1-4 6-26q0 2 0 0l1-2v-10l-1-20v-5l-3-12-58 34a11 11 0 0 0 0 18l52 30zm126-95 10 5 5 3 1 1 2-1 4-3 10-6 19-11 59-37-50-29q-10-4-21 0l-86 50 28 16zm19 115-3-1-27-9-91-32q-3 16-10 33l86 50q12 6 23 0l26-16-3-22zm-119-59a1903 1903 0 0 0 117 41l-7-73-2-1-10-5-10-6-20-11-32-19-42 24 2 7q5 21 4 43m314-45-88-51-53 34 18 11 78 50 45-26q8-5 4-15zm-157-7-4 2-20 12-7 4 9 85 1 6v4l2 14 115-67-3-2z" style="fill:#96cf40"/>
                        <path d="m313 255 17-11 36-23-16-9-60 37-19 12-9 5-4 2-2 2-1-1-5-3-10-5-20-12-27-16-17 10 32 19 20 11 10 6 10 5 2 1 7 73-117-41a142 142 0 0 0-6-50l-15 9 3 15v2l1 7v13l-1 7v5q0 1 0 0l-3 13-4 13-1 4-1 1v2l14 9q7-16 10-33l92 32 27 9 3 1v3l4 22 15-9-2-14v-3l-1-1v-6l-2-12-7-73 7-4 19-12 5-2 93 58 3 2 16-9-78-50z" style="fill:#f8e6d2"/>
                    </g>
                    <g id="Shadow_navigation-82">
                        <ellipse cx="133.8" cy="323.9" class="st2_navigation-82" rx="23.7" ry="4.9"/>
                        <path d="m238 283 53-34 49-14 8 4-85 58z" class="st2_navigation-82"/>
                    </g>
                    <g id="Character_navigation-82">
                        <path d="M264 118h3l1-1-1-1-4 1q-1 2 1 1" class="st3_navigation-82"/>
                        <path d="m326 125 4 6c1 3-1 11-2 12l-6 2" class="st4_navigation-82"/>
                        <path d="m306 104-5 19v5l3 6 12 11 3 2h4q3 0 2-3l2-25-1-9-6-5-14-5" class="st4_navigation-82"/>
                        <path d="M280 127q-4-2-6-5l-2 1v1l3 2 1 1 3 1h2v-1z" class="st5_navigation-82"/>
                        <path d="m280 131-3-6-1-1-2 1 1 1v1l1 4 1 2h1q2 3 2-1z" class="st5_navigation-82"/>
                        <path d="m296 104-1 2-1 6-3 10q-4 4-11 1l-2-1q-2 8 1 15 6 2 13 1 9 1 13-6z" class="st6_navigation-82"/>
                        <path d="M296 113q0 11-3 20l-3 5h-1l9-1-1-28-1 3zm-33 10 9 13h7l-9-14z" class="st4_navigation-82"/>
                        <path d="m265 120 7 1 10 14-3 1-8-11-8-2z" style="fill:#606060"/>
                        <path d="M272 132v-2h-2v-2h-4l1 2v2l1 1v2h4l2-1zm16 105v14l10-2v-12z" class="st5_navigation-82"/>
                        <path d="M288 244q-1 6-4 9c-2 2-14 9-9 12 3 3 24-7 25-10l-2-12q-4 3-10 1" class="st4_navigation-82"/>
                        <path d="m301 238 2-32 6-23-4-21c-2 0 2-19 0-19l-9-7c-3 18-14 71-16 99 3 5 13 6 21 3" class="st8_navigation-82 targetColor" style="fill:#68e1fd"/>
                        <path d="m332 221 6 12 2 2 6-5-7-14z" class="st5_navigation-82"/>
                        <path d="M344 225q-3 4-8 3 2 4 1 8c-2 2-12 11-7 13 4 2 18-11 18-13z" class="st4_navigation-82"/>
                        <path d="m327 229 9-5 7-7-1-2c-6-12-17-49-17-51l-3-30-25-5 6 56c6 14 13 32 23 44" class="st8_navigation-82 targetColor" style="fill:#68e1fd"/>
                        <path d="m323 168-1-7v-7h-8l-1 4v3h-1l-2 9 1 1 2-1 1-3v4l1 2 2-1h2l1-1h2z" class="st5_navigation-82"/>
                        <path d="M320 111c-2-5-11-9-14-10h-5l-1 1h-1l-2 1-2 2v16l1 15 1 3c5 4 14 5 15 5l-1 13 6 1h7c4-22-1-40-4-47" class="st6_navigation-82"/>
                        <path d="m303 105 2 1q5-1 6-6l3-8-1-2c-1-3-13-6-14 1 0 4 0 12 4 14" class="st5_navigation-82"/>
                        <path d="m312 95-2 1-1 3v1h2l2-2z" class="st5_navigation-82"/>
                        <path d="m317 87-2-4h-5l-3-2q-3-1-6 1l-4 1q-3 3-3 5v3q1 3 5 4-1-4 2-5l1 1 2 2 5 1c2 1-3 3 2 7l2-2 1-2 3-5z" class="st4_navigation-82"/>
                        <path d="m312 98-2-2-2 4v1l2 1v-1z" class="st5_navigation-82"/>
                        <path d="M300 100h-1q-3-3-2-5v-1l4 2h1q1 2-2 4m-2-5 1 4h1l1-2zm7 7-2-1v-5l5 2-1 3zm-1-5v3l1 1h1l1-2z" class="st4_navigation-82"/>
                        <path d="m309 96-2 2h1zm-7 5h-1v-1l1-1v-1h-1v2l-1 1zm1-4-2-1v1zq2 0 0 0m4 94-7-22 2 44zm10-84s-8 4-4 28c0 0-7-12-7-20s4-11 6-12 6 3 5 4" class="st4_navigation-82"/>
                        <path d="M295 105v16l1-11 4-8q-2-1-5 3" class="st6_navigation-82"/>
                        <path d="M262 116q2-3 6-1 2 0 1-2-5-3-9 2v1z" class="st3_navigation-82"/>
                        <path d="M259 114c1-4 7-5 10-2q2 0 1-2c-4-3-12-2-13 3q1 3 2 1" class="st3_navigation-82"/>
                    </g>
                    <g id="Cloud_navigation-82">
                        <path d="M446 190q-9-7-20-4c-25 7-25 42-25 42s-9-6-22 2c-16 12-13 40-13 40l5 3 95-56s-6-21-20-27" class="st8_navigation-82 targetColor" style="fill:#68e1fd"/>
                        <path d="M446 190q-9-7-20-4c-25 7-25 42-25 42s-9-6-22 2c-16 12-13 40-13 40l5 3 95-56s-6-21-20-27" class="st9_navigation-82"/>
                        <path d="m371 273 95-56s-10-34-35-27-25 41-25 41-9-6-22 2c-16 12-13 40-13 40M230 167q-3-2-8-2c-9 3-10 17-10 17s-3-3-8 1c-7 4-5 16-5 16l2 1 37-22s-2-9-8-11" class="st8_navigation-82 targetColor" style="fill:#68e1fd"/>
                        <path d="M230 167q-3-2-8-2c-9 3-10 17-10 17s-3-3-8 1c-7 4-5 16-5 16l2 1 37-22s-2-9-8-11" class="st9_navigation-82"/>
                        <path d="m201 200 37-23c0 1-4-13-14-10s-10 16-10 16-3-3-8 1c-7 4-5 16-5 16M95 186q-7-6-15-3c-19 5-19 32-19 32s-7-5-17 2c-13 8-10 30-10 30l4 2 73-43s-5-16-16-20" class="st8_navigation-82 targetColor" style="fill:#68e1fd"/>
                        <path d="M95 186q-7-6-15-3c-19 5-19 32-19 32s-7-5-17 2c-13 8-10 30-10 30l4 2 73-43s-5-16-16-20" class="st9_navigation-82"/>
                        <path d="m38 249 73-43s-8-26-27-21-19 32-19 32-7-5-17 2c-13 8-10 30-10 30" class="st8_navigation-82 targetColor" style="fill:#68e1fd"/>
                    </g>
                    <g id="Target_navigation-82">
                        <path d="m134 325-11-13q-10-12-15-27c-3-13-2-28 10-36 13-10 35-5 41 10 9 20-4 38-15 54z" class="st3_navigation-82"/>
                        <circle cx="134.6" cy="273.4" r="15" style="fill:#fff"/>
                    </g>
                </svg>
            </div>
            <div class="col-xs-12 col-md-8 text-md-start align-self-center">
                <h2 class="display-5">{{ 'about.what_is_habitat.title' | trans }}</h2>
                <p class="fs-4 fw-light">
                    {{ 'about.what_is_habitat.1' | trans }}
                </p>
                <p class="fs-4 fw-light">
                    {{ 'about.what_is_habitat.2' | trans }}
                </p>
                <p class="fs-4 fw-light">
                    <strong>{{ domain }}</strong> {{ 'about.what_is_habitat.3' | trans }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <!-- Illustration by manypixels.co -->
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="Layer_1" x="0" y="0" class="illustrations_image" data-imageid="map-1-97" version="1.1" viewBox="0 0 500 500">
                    <style>
                        .st0_map-1-97{fill:#c9c9c9}.st1_map-1-97{fill:#d3894c}.st2_map-1-97{fill:#fff3d9}.st12_map-1-97{fill:#653200}.st13_map-1-97{fill:#9cd861}.st14_map-1-97{fill:#54ba56}.st15_map-1-97{fill:#c66b28}.st16_map-1-97{fill:#b3b3b3}.st17_map-1-97{fill:#ca4050}
                    </style>
                    <path id="Shadow_map-1-97" d="M459 341 280 448l-136-75-92-53 177-101" class="st0_map-1-97"/>
                    <g id="Map_map-1-97">
                        <path d="m59 160-15 62 49-28" class="st1_map-1-97"/>
                        <path d="M459 341 279 443l-125-71-95-212L236 54l83 205z" class="st2_map-1-97"/>
                        <path fill="#68e1fd" d="m443 338-165 94-116-65-88-204 157-91 83 192z" class="targetColor"/>
                        <path fill="#653200" d="m231 72 83 192-152 103-88-204z" opacity=".1"/>
                        <path d="m82 156 79 21 36 82 128 94 9 47 19-10-13-47-133-90-37-87-72-17" class="st2_map-1-97"/>
                        <path d="m175 192 54-130-20 12-44 103zm200 106-53 35-7-6 54-33" class="st2_map-1-97"/>
                        <path d="m416 353-65-39-56-38 11-33 2 5-8 25 120 78m-95 2s-68-13-86 17-6 37-6 37l-11-6s-1-35 33-50 63-6 63-6M107 239l68-35 106-17 3 7-107 17-67 35m121 37-18 53h-74l8 6h70l20-55" class="st2_map-1-97"/>
                    </g>
                    <g id="Shadow-2_map-1-97">
                        <linearGradient id="SVGID_1_-map-1-97" x1="-623.6" x2="-598.5" y1="167.6" y2="183.6" gradientTransform="matrix(-1 0 0 -1 -427 502)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#653200" stop-opacity="0"/>
                            <stop offset="1" stop-color="#653200"/>
                        </linearGradient>
                        <path fill="url(#SVGID_1_)" d="m183 324 20 7-11 8-13-10z" opacity=".3"/>
                        <linearGradient id="SVGID_00000031175310300456812760000007170855184264208281_-map-1-97" x1="-842.3" x2="-811" y1="166.8" y2="189.4" gradientTransform="matrix(-1 0 0 -1 -427 502)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#653200" stop-opacity="0"/>
                            <stop offset="1" stop-color="#653200"/>
                        </linearGradient>
                        <path fill="url(#SVGID_00000031175310300456812760000007170855184264208281_)" d="m421 331-28-10-3 3 19 15z" opacity=".3"/>
                        <linearGradient id="SVGID_00000135680071480213394920000005805474596003635603_-map-1-97" x1="-788.9" x2="-764.5" y1="198.1" y2="213.7" gradientTransform="matrix(-1 0 0 -1 -427 502)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#653200" stop-opacity="0"/>
                            <stop offset="1" stop-color="#653200"/>
                        </linearGradient>
                        <path fill="url(#SVGID_00000135680071480213394920000005805474596003635603_)" d="m348 294 20 7-10 7-12-11z" opacity=".3"/>
                        <linearGradient id="SVGID_00000098930473445663708180000008125728439101148351_-map-1-97" x1="-767" x2="-742.7" y1="182.3" y2="197.8" gradientTransform="matrix(-1 0 0 -1 -427 502)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#653200" stop-opacity="0"/>
                            <stop offset="1" stop-color="#653200"/>
                        </linearGradient>
                        <path fill="url(#SVGID_00000098930473445663708180000008125728439101148351_)" d="m326 310 20 7-10 7-12-11q2-1 2-3" opacity=".3"/>
                        <linearGradient id="SVGID_00000052803279544214355870000000543181248561877951_-map-1-97" x1="-769.1" x2="-744.7" y1="208.9" y2="224.5" gradientTransform="matrix(-1 0 0 -1 -427 502)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#653200" stop-opacity="0"/>
                            <stop offset="1" stop-color="#653200"/>
                        </linearGradient>
                        <path fill="url(#SVGID_00000052803279544214355870000000543181248561877951_)" d="m328 283 21 7-11 7-12-11q2-1 2-3" opacity=".3"/>
                        <linearGradient id="SVGID_00000041993763565374754000000007561645637272684970_-map-1-97" x1="197.4" x2="233" y1="110.7" y2="164.1" gradientTransform="matrix(1 0 0 -1 0 502)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#fff3d9" stop-opacity="0"/>
                            <stop offset="1" stop-color="#b3b3b3"/>
                        </linearGradient>
                        <path fill="url(#SVGID_00000041993763565374754000000007561645637272684970_)" d="m276 342-34-12-82 47 56 32z" opacity=".5"/>
                        <linearGradient id="SVGID_00000106121764441196385440000003450304985151966389_-map-1-97" x1="-720.8" x2="-700.9" y1="103.6" y2="116.2" gradientTransform="matrix(-1 0 0 -1 -427 502)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#653200" stop-opacity="0"/>
                            <stop offset="1" stop-color="#653200"/>
                        </linearGradient>
                        <path fill="url(#SVGID_00000106121764441196385440000003450304985151966389_)" d="m304 395-31-11-3 6 22 17z" opacity=".3"/>
                    </g>
                    <g id="Trees_2_map-1-97">
                        <path d="M280 401h-2l-1-1v-24l1-2h2l1 2v24z" class="st12_map-1-97"/>
                        <path d="M269 380c1-4 5-22 12-17q5 5 7 11l2 11c0 7-7 8-13 8q-8 0-9-5z" class="st13_map-1-97"/>
                        <path d="m268 381 1-1c0-4 4-18 10-18q-4 12-3 24 0 4 3 7h-3q-6 0-9-5z" class="st14_map-1-97"/>
                        <path d="m269 414-1-1v-17l1-1h1l1 1v17z" class="st12_map-1-97"/>
                        <path d="M262 399c0-3 3-15 8-11q4 2 5 7l1 8c1 5-5 6-9 6q-4-1-6-4z" class="st13_map-1-97"/>
                        <path d="M261 400c1-2 3-12 8-12q-3 8-3 16l3 6h-2q-4-1-6-4z" class="st14_map-1-97"/>
                        <path d="M293 414h-1l-1-1v-23l1-2h1l2 2v23z" class="st12_map-1-97"/>
                        <path d="M283 394c1-4 5-22 12-16q5 4 6 10l2 10c1 8-7 9-12 9q-7 0-9-6z" class="st13_map-1-97"/>
                        <path d="M283 395v-1c1-4 4-18 10-17q-4 11-3 22 0 4 3 8h-3q-5 0-8-6-1-3 1-6" class="st14_map-1-97"/>
                    </g>
                    <g id="Sign_map-1-97">
                        <path d="M179 329v-52h7v52q-3 3-7 0" class="st1_map-1-97"/>
                        <path d="m182 295 11 7 4-2-1-5-11-7z" class="st1_map-1-97"/>
                        <path d="m185 289 10 6 1 5-3 2-8-5z" class="st15_map-1-97"/>
                        <path d="m181 284-9-5-4 2 4 5 7 1" class="st1_map-1-97"/>
                        <path d="M179 329v-52h3v53z" class="st15_map-1-97"/>
                        <path d="m182 286-12-6-2 1 1 4 11 6" class="st15_map-1-97"/>
                        <ellipse cx="182.1" cy="277.2" class="st1_map-1-97" rx="3.4" ry="1.7"/>
                    </g>
                    <g id="Roadside_Sign_map-1-97">
                        <ellipse cx="391.7" cy="323" class="st16_map-1-97" rx="10.8" ry="4.9"/>
                        <path d="M390 324v-52h4v52z" class="st0_map-1-97"/>
                        <path d="M390 324v-52h1v53z" class="st16_map-1-97"/>
                        <ellipse cx="391.7" cy="271.8" class="st2_map-1-97" rx="2.1" ry="1.7"/>
                        <ellipse cx="391.4" cy="273.2" class="st17_map-1-97" rx="12" ry="13.6" transform="rotate(-13 391 273)"/>
                        <ellipse cx="391.1" cy="273.4" class="st2_map-1-97" rx="9.9" ry="11.3" transform="rotate(-13 391 273)"/>
                        <path d="m386 263 11 20s-1 4-2 2l-12-20z" class="st17_map-1-97"/>
                    </g>
                    <g id="Trees_1_map-1-97">
                        <path d="M326 314h-1l-2-2v-10l1-2h2l2 2v10z" class="st12_map-1-97"/>
                        <circle cx="325.3" cy="300.3" r="9.1" class="st13_map-1-97"/>
                        <path d="M325 291h2q-6 4-5 11 0 5 5 7h-2q-8-1-8-9 1-8 8-9" class="st14_map-1-97"/>
                        <path d="M350 298h-3l-1-2v-13l1-2h3l2 2v14z" class="st12_map-1-97"/>
                        <circle cx="348.5" cy="281.5" r="11.4" class="st13_map-1-97"/>
                        <path d="M349 270h1q-7 5-6 14 0 6 7 9a11 11 0 1 1-2-23" class="st14_map-1-97"/>
                        <path d="M328 287h-1l-2-2v-10l1-2h2l2 2v10z" class="st12_map-1-97"/>
                        <circle cx="327.3" cy="273.3" r="9.1" class="st13_map-1-97"/>
                        <path d="M327 264h2q-6 4-6 11 1 5 6 7h-2q-8 0-9-8 1-9 9-10" class="st14_map-1-97"/>
                    </g>
                    <g id="Character_map-1-97">
                        <path d="m277 317-2 30c-1 5-8 4-10 3l-8-4c-3-1-17-5-16-9s4-7 8-7l12 3 2-21" class="st12_map-1-97"/>
                        <path d="m227 141-1-2-7-6v-1l1-11q0-2-2-2v-2l-2-2h-1v-1c1-3-3-3-3 0l-1 8v-6c0-2-4-2-4 0l1 16-1-7c0-2-4-2-4 0q0 6 3 10l3 4h1l10 8q3 1 2-2l1-1h1q4 1 3-3" class="st1_map-1-97"/>
                        <path d="m266 147-21-5c-5-2-23-15-23-15s-10 11-10 17 29 23 37 24l14 3z" class="st14_map-1-97"/>
                        <path d="m275 209 4 32 3 93s-9 6-27 1c-3-1-6-77-6-77l6-39" class="st15_map-1-97"/>
                        <path d="m197 191-1-2h-1l-7-1-5-4v-7c0-2-4-2-4 0v3l-1-8q-2-3-4 0v-3q-3-2-4 1l1 3q-4-1-4 2l2 3q-3 0-3 2 2 8 7 13 8 5 18 5l2-2h1q3-1 2-3z" class="st1_map-1-97"/>
                        <path d="m243 166-31 15c-6 2-28 1-28 1s-2 14 2 19 36 2 44-2 36-12 34-16-21-17-21-17" class="st13_map-1-97"/>
                        <path d="M238 351c1 2 0 26-1 30s-8 4-10 3l-8-3c-2 0-17-6-16-10s4-6 8-6l12 2 2-21" class="st12_map-1-97"/>
                        <path d="M240 217s-11 41-16 79l-10 62s15 6 29 2l16-70c0-1 4-42 5-74" class="st15_map-1-97"/>
                        <path d="m264 158-6-2c-2 1-16 7-21 18l-1 9 2 32 2 1c20 6 34-6 35-8v-38q-2-10-11-12" class="st13_map-1-97"/>
                        <path d="M245 135s-3 23 6 25c8 2 17-8 18-13s-13-20-24-12" class="st1_map-1-97"/>
                        <path d="M275 140q0-6-4-10-4-7-13-8l-6 1q-3-3-7-1l-1 5q-3 1-3 4-1 4 2 6-3 2-1 5 5 3 10 2h1v1h1l1 5 1 2h1v3l1 2v1h1q5 0 6-3l3-2q4-4 6-11zm-12 102q-9 59-22 117 0 4 3 1 13-58 22-117-1-3-3-1" class="st12_map-1-97"/>
                        <path d="m235 196 12-4-10 23z" class="st14_map-1-97"/>
                    </g>
                </svg>
            </div>
            <div class="col-xs-12 col-md-8 text-md-end align-self-center order-md-first">
                <h2 class="display-5">{{ 'about.who_runs_habitat.title' | trans }}</h2>
                <p class="fs-4 fw-light">
                    {{ 'about.who_runs_habitat.1' | trans }}
                </p>
                <p class="fs-4 fw-light">
                    {{ 'about.who_runs_habitat.2' | trans }} <strong>{{ admin.username }}</strong>.
                </p>
                <p class="fs-4 fw-light">
                    {{ 'about.who_runs_habitat.3' | trans }}
                </p>
            </div>
        </div>
        {% if locationLatLng %}
            <div class="row mt-5">
                <div class="col-12">
                    <h2 class="display-5">{{ 'about.local_area.title' | trans }}</h2>
                    <div
                        id="about-map"
                        class="rounded ratio ratio-21x9"
                        data-center="{{ locationLatLng }}"
                        data-zoom="{{ locationZoom }}"
                        data-radius="{{ locationRadiusMeters }}"
                    ></div>
                </div>
            </div>
        {% endif %}
        <div class="row mt-4">
            <div class="col-xs-12">
                <a href="https://github.com/carlnewton/habitat" class="btn btn-lg btn-primary">{{ 'buttons.find_out_more' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if locationLatLng %}
        {{ encore_entry_script_tags('about_map') }}
    {% endif %}
{% endblock %}
