{% extends 'base.html.twig' %}

{% block opengraph %}
    {{ parent() }}
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ category.name }} - {{ setting('habitatName', 'Habitat') }}">
    <meta property="og:url" content="{{ absolute_url(path('app_category_index', { id: category.id })) }}">
    {% if category.description is not empty %}
        <meta property="og:description" content="{{ category.description|striptags|slice(0, 200) }}">
        <meta name="description" content="{{ category.description|striptags|slice(0, 200) }}">
    {% endif %}
{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <p class="lead">{{ category.description|nl2br }}</p>
    {% if app.user %}
        {% include '/partials/category/toggle.html.twig' %}
    {% endif %}

    <div id="posts-list">
        {% for post in posts %}
            {% include '/partials/post/post.html.twig' %}
        {% endfor %}
        <div class="d-flex justify-content-center htmx-indicator" id="post-spinner">
            <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">{{ 'misc.loading' | trans }}</span>
            </div>
        </div>
    </div>
{% endblock %}
