<!doctype html>
<html lang="en" data-bs-theme="{{ setting('theme', 'light') }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ setting('habitatName', 'Habitat') }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="navbar-expand-md">
            <nav class="navbar fixed-top bg-{{ setting('theme', 'light') }} border-bottom">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('app_index_index') }}">
                        <img src="/build/images/habitat_icon.svg" width="30" height="30" class="d-inline-block align-top" alt="Habitat">
                        {{ setting('habitatName', 'Habitat') }}
                    </a>
                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_admin_index') }}">Admin dashboard</a>
                                    </li>
                                {% endif %}
                                {% if app.user %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_login') }}">Log in</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_signup') }}">Sign up</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container mt-3">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        <nav id="drawer" class="navbar navbar-expand fixed-bottom bg-{{ setting('theme', 'light') }} border-top">
            <div class="container-fluid">
                <a href="{{ path('app_index_index') }}" class="text-center col col-sm-4 text-secondary text-decoration-none{% if app.request.get('_route') == 'app_index_index' %} active{% endif %}">
                    <i class="h3 bi bi-house-fill"></i>
                    <br>
                    <small>Home</small>
                </a>
                <a href="{{ path('app_create_post') }}" class="text-center col col-sm-4 text-secondary text-decoration-none{% if app.request.get('_route') == 'app_create_post' %} active{% endif %}">
                    <i class="h3 bi bi-plus-circle-fill"></i>
                    <br>
                    <small>Post</small>
                </a>
                <a href="/" class="text-center col col-sm-4 text-secondary text-decoration-none{% if app.request.get('_route') == 'app_nearby_nearby' %} active{% endif %}">
                    <i class="h3 bi bi-geo-alt-fill"></i>
                    <br>
                    <small>Nearby</small>
                </a>
            </div>
        </nav>
    </body>
</html>
