<!doctype html>
<html lang="en" data-bs-theme="{{ setting('theme', 'light') }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/manifest.json">
        <title>{% if page_title is defined %}{{ page_title }} - {% endif %}{{ setting('habitatName', 'Habitat') }}</title>
        <link rel="icon" href="/build/images/habitat_icon.svg">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {# This is to prevent the flash of unstyled content: https://bugzilla.mozilla.org/show_bug.cgi?id=1404468 #}
            <script>(_=>{let a})()</script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="navbar-expand-md">
            <nav class="navbar shadow-sm fixed-top bg-{{ setting('theme', 'light') }} border-bottom">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('app_index_index') }}">
                        <img src="/build/images/habitat_icon.svg" width="30" height="30" class="d-inline-block align-top" alt="Habitat">
                        {{ setting('habitatName', 'Habitat') }}
                    </a>

                    <div id="right-navs-container" class="d-flex">
                        {% if app.user %}
                            <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNotifications" aria-controls="offcanvasNotifications" aria-label="Toggle notifications">
                                <i class="bi bi-bell fs-4 text-secondary position-relative">
                                    {% if app.user and app.user.hasNotifications %}
                                        <span class="position-absolute top-0 end-0 p-1 bg-danger border border-light rounded-circle" data-test="new-notifications-indicator">
                                            <span class="visually-hidden">New notifications</span>
                                        </span>
                                    {% endif %}
                                </i>
                            </button>
                        {% endif %}
                        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Habitat</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" data-test="navbar">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_about') }}">{{ 'menus.utility.about.title' | trans }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_moderation_log') }}" data-test="moderation-log-link">{{ 'menus.utility.moderation_log.title' | trans }}</a>
                                    </li>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('app_admin_index') }}" data-test="admin-dashboard-link">{{ 'menus.utility.admin_dashboard.title' | trans }}</a>
                                        </li>
                                    {% endif %}
                                    {% if app.user %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('app_settings') }}" data-test="settings-link">{{ 'menus.utility.settings.title' | trans }}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('app_logout') }}" data-test="log-out-link">{{ 'menus.utility.log_out.title' | trans }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('app_login') }}" data-test="log-in-link">{{ 'menus.utility.log_in.title' | trans }}</a>
                                        </li>
                                        {% if setting('registration') == 'on' %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ path('app_signup') }}" data-test="sign-up-link">{{ 'menus.utility.sign_up.title' | trans }}</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                                <hr>
                                <div id="offcanvas-sidebar-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNotifications" aria-labelledby="offcanvasNotificationsLabel">
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNotificationsLabel">{{ 'menus.notifications.title' | trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" id="notifications" data-test="notifications">
                {% if app.user and app.user.hasNotifications %}
                    <div class="list-group list-group-flush">
                        {% for notification in app.user.notifications %}
                            {% if notification.type.message == 'new_post_comments' %}
                                <a href="{{ path('app_view_post', { 'id': notification.post.id }) }}" class="list-group-item list-group-item-action">
                                    <h5 class="mb-1"><i class="bi bi-chat-fill text-primary"></i> {{ 'notifications.new_post_comments.title' | trans }}</h5>
                                    <p>{{ 'notifications.new_post_comments.message' | trans({ '%count%': notification.data.count }) }} <strong>{{ notification.post.title }}</strong></p>
                                    <span class="float-end text-muted" title="{{ notification.date|date }}">{{ notification.date|time_diff }}</span>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ 'menus.notifications.messages.no_new_notifications' | trans }}
                {% endif %}
            </div>
        </div>

        <div class="container mt-3">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success" role="alert" data-test="success-message">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="alert alert-danger" role="alert" data-test="warning-message">
                    {{ message }}
                </div>
            {% endfor %}

            {{ component('Announcement') }}

            <div class="row">
                {% block outer_body %}
                    <div class="col-xs-12 col-md-9" id="hx-body">
                        {% block body %}{% endblock %}
                    </div>
                    {% block sidebar %}
                        <div class="col-sm-3 d-none d-md-block">
                            <div class="d-grid mb-3">
                                <a href="{{ path('app_create_post')}}{% if category is defined %}?category={{ category.id }}{% endif %}" class="btn btn-outline-primary btn-lg">{{ 'menus.main.post.title' | trans }}</a>
                            </div>
                            <ul class="nav nav-pills flex-column mb-3">
                                <li class="nav-item">
                                    <a href="{{ path('app_index_index') }}" class="fs-5 home-link nav-link{% if app.request.get('_route') == 'app_index_index' %} active{% endif %}">
                                        <i class="bi bi-house{% if app.request.get('_route') == 'app_index_index' %}-fill{% endif %}"></i>
                                        {{ 'menus.main.home.title' | trans }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        href="{{ path('app_nearby_nearby') }}"
                                        hx-post="{{ path('app_nearby_nearby') }}"
                                        hx-target="#hx-body"
                                        hx-replace-url="true"
                                        class="fs-5 nearby-link nav-link{% if app.request.get('_route') == 'app_nearby_nearby' %} active{% endif %}"
                                        data-nearbytitle="{{ 'menus.main.nearby.title' | trans }} - {{ setting('habitatName', 'Habitat') }}"
                                        data-errormessage="{{ 'menus.main.nearby.error' | trans }}"
                                    >
                                        <i class="bi bi-geo-alt{% if app.request.get('_route') == 'app_nearby_nearby' %}-fill{% endif %}"></i>
                                        {{ 'menus.main.nearby.title' | trans }}
                                    </a>
                                </li>
                            </ul> 
                            <div id="sidebar-container">
                                <div id="sidebar">
                                    {{ component('Sidebar') }}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
        <nav id="drawer" class="d-block d-md-none navbar navbar-expand fixed-bottom bg-{{ setting('theme', 'light') }} border-top shadow-lg">
            <div class="container-fluid">
                <a href="{{ path('app_index_index') }}" class="text-center home-link col col-sm-4 text-secondary text-decoration-none{% if app.request.get('_route') == 'app_index_index' %} active{% endif %}">
                    <i class="h3 bi bi-house{% if app.request.get('_route') == 'app_index_index' %}-fill{% endif %}"></i>
                    <br>
                    <small>{{ 'menus.main.home.title' | trans }}</small>
                </a>
                <a href="{{ path('app_create_post') }}{% if category is defined %}?category={{ category.id }}{% endif %}" class="text-center col col-sm-4 text-secondary text-decoration-none{% if app.request.get('_route') == 'app_create_post' %} active{% endif %}">
                    <i class="h3 bi bi-plus-circle{% if app.request.get('_route') == 'app_create_post' %}-fill{% endif %}"></i>
                    <br>
                    <small>{{ 'menus.main.post.title' | trans }}</small>
                </a>
                <a
                    href="{{ path('app_nearby_nearby') }}"
                    hx-post="{{ path('app_nearby_nearby') }}"
                    hx-target="#hx-body"
                    hx-replace-url="true"
                    class="text-center col col-sm-4 nearby-link text-secondary text-decoration-none{% if app.request.get('_route') == 'app_nearby_nearby' %} active{% endif %}"
                    data-nearbytitle="{{ 'menus.main.nearby.title' | trans }} - {{ setting('habitatName', 'Habitat') }}"
                    data-errormessage="{{ 'menus.main.nearby.error' | trans }}"
                >
                    <i class="h3 bi bi-geo-alt{% if app.request.get('_route') == 'app_nearby_nearby' %}-fill{% endif %}"></i>
                    <br>
                    <small>{{ 'menus.main.nearby.title' | trans }}</small>
                </a>
            </div>
        </nav>
    </body>
</html>
