{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ post.title }}</h1>
    {% if post.body is not empty %}
        <p>{{ post.body }}</p>
    {% endif %}
    {% if post.attachments is not empty %}
        {% if post.attachments|length == 1 %}
            <img class="img-fluid rounded mb-3" src="{{ path('app_load_attachment', { postId: post.id, attachmentId: post.attachments|first.id })}}" class="d-block w-100" alt="{{ post.title }}">
        {% else %}
            <div id="post-carousel" class="carousel slide mb-3">
                <div class="carousel-indicators">
                    {% for attachment in post.attachments %}
                        <button 
                            type="button"
                            data-bs-target="#post-carousel"
                            data-bs-slide-to="{{ loop.index0 }}"
                            {% if loop.first %}
                                class="active"
                                aria-current="true" 
                            {% endif %}
                            aria-label="Slide {{ loop.index }}"
                        ></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner rounded">
                    {% for attachment in post.attachments %}
                        <div class="carousel-item{% if loop.first %} active{% endif %}">
                            <img src="{{ path('app_load_attachment', { postId: post.id, attachmentId: attachment.id })}}" class="d-block w-100" alt="{{ post.title }}">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#post-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#post-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% endif %}
    {% endif %}
    {% if post.location is not empty %}
        <div class="card mb-4">
            <div class="card-body ratio ratio-16x9">
                <div id="map" data-center="{{ post.location }}"></div>
            </div>
        </div>
    {% endif %}
    <button id="hearts-{{ post.id }}" class="border-0 bg-transparent{% if app.user and post.currentUserHearted %} text-danger{% else %} text-muted{% endif %} fs-4 mb-3"{% if app.user %} onclick="toggleHeart({{ post.id }})"{% endif %}>
        <i class="bi bi-heart-fill"></i> <span class="heart-count">{{ post.heartCount }}</span>
    </button>
    <h2 id="comments">Comments</h2>

    {% if app.user %}
        {% include 'partials/post/comment/form.html.twig' %}
    {% else %}
        <p class="lead"><a href="{{ path('app_login') }}">Sign in</a> to comment on this post.</p>
    {% endif %}
    <div id="comments-list" class="mb-5" hx-trigger="revealed" hx-get="/hx/list-comments?post={{ post.id }}" hx-swap="afterbegin">
        <div class="d-flex justify-content-center htmx-indicator" id="comment-spinner">
            <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('view_map') }}
    {% if app.user %}
        {{ encore_entry_script_tags('heart') }}
    {% endif %}
{% endblock %}
