{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('view_post') }}
{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    {% if post.body is not empty %}
        <p>{{ post.body }}</p>
    {% endif %}
    {% if post.attachments is not empty %}
        <h2 id="photos">Photos</h2>
        <div id="gallery" class="card mb-4">
            {% for attachment in post.attachments %}
                <a{% if not loop.first %} class="d-none position-relative"{% endif %} data-pswp-width="{{ attachment.width }}" data-pswp-height="{{ attachment.height }}" href="{{ path('app_load_attachment', { postId: post.id, attachmentId: attachment.id })}}">
                    {% if loop.first %}
                        <img src="{{ path('app_load_attachment', { postId: post.id, attachmentId: attachment.id })}}" class="rounded d-block w-100" alt="{{ post.title }}">
                        {% if post.attachments|length > 1 %}
                            <div class="position-absolute bg-dark text-white bottom-0 end-0 p-2 m-3 opacity-75 rounded-pill fs-4">
                                <i class="bi bi-images"></i> {{ post.attachments|length }}
                            </div>
                        {% endif %}
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if post.location is not empty %}
        <h2 id="location">Location</h2>
        <div class="card mb-4">
            <div class="ratio ratio-16x9">
                <div id="map" class="rounded" data-center="{{ post.location }}"></div>
            </div>
        </div>
    {% endif %}
    <button id="hearts-{{ post.id }}" class="border-0 bg-transparent{% if app.user and post.currentUserHearted %} text-danger{% else %} text-muted{% endif %} fs-4 mb-3"{% if app.user %} onclick="toggleHeart({{ post.id }})"{% endif %}>
        <i class="bi bi-heart{% if app.user and post.currentUserHearted %}-fill{% endif %}"></i> <span class="heart-count">{{ post.heartCount }}</span>
    </button>
    <h2 id="comments">Comments</h2>

    {% if app.user %}
        {% include 'partials/post/comment/form.html.twig' %}
    {% else %}
        <p class="lead"><a href="{{ path('app_login') }}">Sign in</a> to comment on this post.</p>
    {% endif %}
    <div id="comments-list" class="mb-5" hx-trigger="revealed" hx-get="/hx/list-comments?post={{ post.id }}" hx-swap="afterbegin">
        <div class="d-flex justify-content-center htmx-indicator" id="comment-spinner">
            <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('view_post') }}
    {% if app.user %}
        {{ encore_entry_script_tags('heart') }}
    {% endif %}
{% endblock %}
